<div class="wrapper-base" style="background-color:#fff;">

	<div class="wrapper-common wrapper-common-width wrapper-row" style="justify-content: space-between;">
		<div class="wrapper-common wrapper-common-width wrapper-row" style="justify-content: space-between;">
			<div>
				<span style="font-size:1.875em;color:#000;">
					<span style="font-weight:600;">Methods Used</span>
					 <!-- <span style="font-weight:400;"">Accessible Possibilities</span> -->
				</span>
			</div>
		</div>

		<div style="padding-top:1.25em;font-size:1em;">
			<strong>Top* and Recommended*</strong><br />
			<p style="font-size:1em;">*The attractions, venues and hotels you see listed here were selected by our editorial staff based on a series of accessibility criteria.  We combined our editorial analysis with a representation of opinions expressed throughout the web.    accessibleGO caters to people with disabilities and with this goal in mind, we chose locations that were both iconic and accessible. In certain cases, either where cities had historic sites that were not completely accessible or certain landmarks were partially accessible yet important in appreciating a city’s vibe, we chose to include them in our list with full disclosure of accessibility and let you decide on whether or not to make a visit.</p>
			<br/>
			<strong>Accessible*</strong><br/>
			<p style="font-size:1em;">*All accessibility details listed is the official documentation stated online by the venues we have selected.  Unfortunately, not every venue provides accessibility information for every type of disability.  To the best of our ability, we have listed as much information as we could find to make your visit as smooth and as pleasant as possible.</p>
			<p style="font-size:1em;">If you are aware of accessibility information that is different than what we have posted below, we ask you to please email us, post a comment or write a review.  It is through the network of readers like you that we will have the most current and accurate information on accessibility.</p>
		</div>
	</div>
</div>