<div id="passChangedView" ng-controller="passchangedController as vm" ng-cloak="">

	<div
		class="background" style="padding:20px 12px;">
	    <nav class="flex-col" aria-label="breadcrumb" style="border-bottom:1px solid #fff;">
	      <ol class="breadcrumb breadcrumbs-light">
	        <li class="breadcrumb-item"><a ui-sref="home">home</a></li>
	        <li class="breadcrumb-item active" aria-current="page">password changed</li>
	      </ol>
	    </nav>

		<div
			class="flex-col">
			<h3 ng-bind="vm.message"></h3>
		</div>
	</div>

</div>
