<div ng-controller="pressController as press" ng-cloak class="press_main">

	<div class="wrapper-base" style="background-color:#fff;min-height: 4.5em;">

		<!-- white search bar: begin -->
		<div class="wrapper-common wrapper-common-width wrapper-row" style="justify-content: space-between;">

			<div>
				<span style="font-size:1.875em;color:#000;">
					<span style="font-weight:600;">In the Press</span>
				</span>
			</div>
		</div>
		<!-- white search bar: end -->
	</div>

	<div class="wrapper-base" style="background-color:#cfcfcf;">

		<div class="wrapper-common wrapper-common-width wrapper-column">

	        <div class="wrapper-common wrapper-common-width wrapper-row">

				<div id="bookingcares" style="color:#000;background-color: #000;margin:8px;xheight:220px;">
	       			<a
	       				id="bookingcares" style="color:#000;background-color: #000;margin:8px;xheight:220px;"
	       				href="https://www.bookingcares.com/cares-blog/2018/3/11/booster-lab-tel-aviv-the-startups-receiving-grants-are"
	       				target="_win_bookingcares">
	       					<img src="https://accessiblego.azureedge.net/press/bookingcares-logo.png" style="width:204px;padding:20px;margin:0;" alt="bookingcares" />
       				</a>
	       		</div>

	       		<div id="calcalistech" style="color:#000;background-color: #000;margin:8px;xheight:220px;">
	       			<a
	       				id="calcalistech" style="color:#000;background-color: #000;margin:8px;xheight:220px;"
	       				href="https://www.calcalistech.com/ctech/articles/0,7340,L-3732331,00.html"
	       				target="_win_calcalistech">
	       					<img src="https://accessiblego.azureedge.net/press/ctech.png" style="width:204px;padding:20px;margin:0;" alt="calcalistech" />
       				</a>
	       		</div>

				<div id="startupitalia" style="color:#000;background-color: #000;margin:8px;xheight:220px;">
	       			<a
	       				id="startupitalia" style="color:#000;background-color: #000;margin:8px;xheight:220px;"
	       				href="http://startupitalia.eu/87206-20180315-booking-com-booster-lab-tel-aviv-25k-le-startup-innovano-turismo"
	       				target="_win_startupitalia">
	       					<img src="https://accessiblego.azureedge.net/press/startupitalia-logo.png" style="width:204px;padding:20px;margin:0;" alt="startupitalia" />
       				</a>
	       		</div>

	        	<div id="goodLifeFamilyMag" style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	       			<a
	       				id="nocamels" style="color:#000;background-color: #fff;margin:8px;xheight:220px;"
	       				href="http://nocamels.com/2018/02/booking-com-accelerator-tel-aviv/"
	       				target="_win_nocamels">
	       					<img src="https://accessiblego.azureedge.net/press/nocamels-logo.png" style="width:204px;padding:20px;margin:0;" alt="nocamels" />
       				</a>
	       		</div>

	       		<div id="goodLifeFamilyMag" style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	       			<a
	       				id="goodLifeFamilyMag" style="color:#000;background-color: #fff;margin:8px;xheight:220px;"
	       				href="http://goodlifefamilymag.com/DigitalEdition_MayJune2018/?page=58l"
	       				target="_win_goodLifeFamilyMag">
	       					<img src="https://accessiblego.azureedge.net/press/goodLifeFamilyMag-logo.png" style="width:204px;padding:20px;margin:0;" alt="goodLifeFamilyMag" />
       				</a>
	       		</div>
	       	
	        	<div style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	        		<a 
	        			id="pioneers"
	        			style="color:#000;background-color: #fff;margin:8px;"
	        			href="https://pioneers.io/blog/post/pioneers-insights-how-israel-growing-female-entrepreneurship" target="_win_ago_pioneers">
	        			<img src="https://accessiblego.azureedge.net/press/pioneers-logo.png" style="width:204px;padding:20px;margin:0;" alt="goodLifeFamilyMag" />
	        		</a>
	        	</div>

	        	<div style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	        		<a 
	        			id="globes"
	        			style="color:#000;background-color: #fff;margin:8px;"
	        			href="http://www.globes.co.il/news/article.aspx?did=1001227260"
	        			target="_win_ago_globes">
	        			<img src="https://accessiblego.files.wordpress.com/2018/03/screen-shot-2018-03-13-at-6-48-26-pm.png" style="width:204px;padding:20px;margin:0;" alt="globes" />
	        		</a>
	        	</div>

	        	<div style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	        		<a 
	        			id="newmobility"
	        			style="color:#000;background-color: #fff;margin:8px;"
	        			href="http://www.newmobility.com/2017/11/accessible-travel-agents/"
	        			target="_win_ago_newmobility">
	        			<!-- left off here - put this in azure cdn and see if it impacts overall load -->
	        			<img src="https://accessiblego.azureedge.net/press/NewMobility-logo.jpg" style="width:204px;padding:20px;margin:0;" alt="newmobility" />
	        		</a>
	        	</div>

	        	<div style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	        		<a 
	        			id="jerusalemPost"
	        			style="color:#000;background-color: #fff;margin:8px;"
	        			href="http://www.jpost.com/Metro/Accessible-travel-for-the-disabled-500961"
	        			target="_win_ago_jerusalemPost">
	        			<!-- left off here - put this in azure cdn and see if it impacts overall load -->
	        			<img src="https://accessiblego.azureedge.net/press/jpost-logo.png" style="width:204px;padding:20px;margin:0;" alt="jerusalemPost" />
	        		</a>
	        	</div>

	        	<div style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	        		<a 
	        			id="abilities"
	        			style="color:#000;background-color: #fff;margin:8px;"
	        			href="https://www.abilities.com/community/accessible-go.html"
	        			target="_win_ago_abilities">
	        			<!-- left off here - put this in azure cdn and see if it impacts overall load -->
	        			<img src="https://accessiblego.azureedge.net/press/abilities-logo.png" style="width:204px;padding:10px;margin:0;" alt="abilities" />
	        		</a>
	        	</div>

	        	<div style="color:#000;background-color: #fff;margin:8px;xheight:220px;">
	        		<a 
	        			id="timesofisrael"
	        			style="color:#000;background-color: #fff;margin:8px;"
	        			href="https://jewishweek.timesofisrael.com/accessiblego-gives-travelers-with-disabilities-a-voice/"
	        			target="_win_ago_jewishweek">
	        			<!-- left off here - put this in azure cdn and see if it impacts overall load -->
	        			<img src="https://accessiblego.azureedge.net/press/new-normal-blogging-disability.jpg" style="width:204px;padding:10px;margin:0;" alt="timesofisrael" />
	        		</a>
	        	</div>

	        	

			</div>

			<div id="i24news" style="color:#000;background-color: #fff;margin:8px;height:auto;">
	        	<div style="background-color: #efefef;">
	        		<img src="https://accessiblego.azureedge.net/press/i24News-logo.png" style="width:220px;padding:20px;margin:0;" alt="i24 News" />
	        	</div>

	        	<div style="text-align: left;padding:2em;">
	        		<iframe frameborder="0" width="480" height="270" src="https://www.dailymotion.com/embed/video/x5w6or2" allowfullscreen allow="autoplay"></iframe>
	        		<!-- <a href="https://www.i24news.tv/en/tv/replay/trending/x5w6or2" target="_win_i24news">
	        			<img src="https://accessiblego.azureedge.net/press/i24News-screenshot.jpg" xstyle="width:220px;padding:20px;margin:0;" alt="" />
	        		</a> -->
	        	</div>
	        </div>

	    </div>

	</div>

</div>