<div class="text-center" xng-controller="socialLoginController as vm">
	<div class="modal-body wrapper-common wrapper-common-width wrapper-row" style="padding:0">

		<!-- while social authentication is in progress -->
		<div ng-if="!vm.error" style="text-align:center;width:100%;height:6em;margin:1em 0;">
			<h1>One moment please...</h1>
		</div>

		<!-- after social authentication is complete -->
		<div
			ng-if="vm.inProgress === false"
			style="margin:2em;">
			<div class="modal-body wrapper-common wrapper-common-width wrapper-column" style="padding:0">

				<!-- <div style="margin:1em 0;">
					<img class="img-responsive" src="https://accessiblego.azureedge.net/logos/500x_144black.png" style="max-height: 80px;" />
				</div> -->

				<!-- successful social authentication -->
				<section ng-if="!vm.error">
					<!-- <h2>Signing you in</h2> -->
					<h3>
						This page should automatically direct you back to where you were after signing you in.  If it does not, <a href="vm.goToPreLoginState()">click here</a>
					</h3>
				</section>

				<!-- UNsuccessful social authentication -->
				<section ng-if="vm.error">
					<h2>Something didn't work...</h2>

					<p>We apologize for the inconvenience - the authentication process may not have completed.  If you see this error, kindly provide this information to us at contact@accessiblego.com so that we have better information to help resolve.  Thank you!</p>

				    <div
				    	ng-if="vm.error || vm.errorDescription" style="margin:1em 0;border:0px solid #29817c;padding:.5em 0;">
				        <h2 ng-bind="vm.error"></h2>
				        <h5 ng-bind="vm.errorDescription"></h5>
				    </div>
				</section>

			</div>
		</div>

	</div>
</div>
