<div ng-controller="travelKitController as travelKit" ng-cloak>
<div class="travel_kitc">
	<div class="container">
						<div class="trvlkit_header">
						   <h2>accessibleGO Travel Kit</h2>
					    </div>
	<div class="travel_cntnt_wrapper">
			<div class="travel_img">
				<img
					ng-src="{{env.cdn_static}}/i/travelkit/thumbnail_inflight_tips.png"
					alt="Hotel Shuttles" >
			</div>
			<div class="travel_cntent">
				  <div class="travelkit_text">
					  <h4>7 Inflight Tips for Travelers with Disabilities</h4>
					  <h5>
					  	<a
					  		href="https://accessiblego.z20.web.core.windows.net/i/travelkit/landing_airport_inflight.pdf"
					  		xhref="api/download/landing_airport_inflight?format=download"
					  		target="7tips_dwn"
					  		download="Inflight-Tips.pdf">Download PDF
					  	</a>
					  	<a
					  		href="https://accessiblego.z20.web.core.windows.net/i/travelkit/landing_airport_inflight.pdf"
					  		xhref="api/download/landing_airport_inflight?format=inline"
					  	 	target="7tips_inl">
					  	 <span class="view_text"> View online</span>
					  	</a>
					  </h5>
                      <p>While there is large focus on how wheelchairs are handled in the world of travelling with disabilities,comfort and accessibility aboard a flight are just as important.</p>
				  </div>
			</div>
	</div>
	<div class="clearfix"></div>
	<div class="travel_cntnt_wrapper">
			<div class="travel_img">
				<img
					ng-src="{{env.cdn_static}}/i/travelkit/thumbnail_airport_pickup.png"
					alt="Hotel Shuttles" >
			</div>
			<div class="travel_cntent">
				  <div class="travelkit_text">
					  <h4>Airport Pickup Services & Your Accessible Options</h4>
					  <h5>
					  	<a
					  		href="https://accessiblego.z20.web.core.windows.net/i/travelkit/landing_airport_pickup.pdf""
					  		xhref="api/download/landing_airport_pickup?format=download"
					  		target="airport_pickup_dwn"
					  		download="landing_airport_pickup.pdf">Download PDF
					  	</a>
					  	<a 
					  		href="https://accessiblego.z20.web.core.windows.net/i/travelkit/landing_airport_pickup.pdf"
					  		xhref="api/download/landing_airport_pickup?format=inline"
					  		target="airport_pickup_inl">
					  		<span class="view_text"> View online</span>
					  	</a>
					  </h5>
                      <p>Many great vacations begin with a grueling journey.Here's the good news-there are many services that can make your airport experiences simpler and more pleasant.</p>
					  
				  </div>
			</div>
	</div>
	<div class="clearfix"></div>
	<div class="travel_cntnt_wrapper">
			<div class="travel_img">
				<img
					ng-src="{{env.cdn_static}}/i/travelkit/thumbnail_hotel_shuttles.png"
					alt="Hotel Shuttles" >
			</div>
			<div class="travel_cntent">
				  <div class="travelkit_text">
					  <h4>Hotel Shuttles - Accessibility & Your Rights</h4>
					  <h5>
					  	<a
					  		href="https://accessiblego.z20.web.core.windows.net/i/travelkit/landing_accessibilty_hotels.pdf""
					  		xhref="api/download/landing_accessibilty_hotels?format=download"
					  		target="accessibility_hotels_dwn"
					  		download="landing_accessibilty_hotels.pdf">Download PDF
					  	</a>
					  	<a
					  		href="https://accessiblego.z20.web.core.windows.net/i/travelkit/landing_accessibilty_hotels.pdf"
					  		xhref="api/download/landing_accessibilty_hotels?format=inline"
					  		target="accessibility_hotels_inl">
					  		<span class="view_text"> View online</span>
					  	</a>
					  </h5>
                      <p>accesibleGO set out to provide you with a guide to know your rights when it comes to hotel shuttles,since not all shuttle services are accessible.</p>
					  
				  </div>
			</div>
	</div>
	<div class="clearfix"></div>
	</div>
</div>
</div> 