<!-- <label id="label_hotel_rooms_selection" for="hotel_rooms_selection" class="light16">Rooms</label>
<div class="rooms-select-wrapper">
  <div class="btn-group" style="" uib-dropdown keyboard-nav="true">
        <button
          id="hotel_rooms_selection"
          name="hotel_rooms_selection"
          type="button"
          class=""
          aria-labelledby="label_hotel_rooms_selection"
          style="width:100%;background-color: #fff;"
          uib-dropdown-toggle >
        	<span class="value" style="margin-right:1em;">{{vm.selectedValue}}</span>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul
        	class="dropdown-menu m-0 p-0"
        	uib-dropdown-menu
          role="menu">
        	<li
            role="menuitem"
            class="dropdown-item"
            ng-repeat="entry in vm.rooms  track by entry"
            ng-click="vm.setRoomNum(entry)">
            <span style="color:#000;">{{entry}}</span>
          </li>
        </ul>
  </div>
</div>
 -->