<div class="wrapper-common wrapper-row" style="justify-content: space-between;flex-wrap:nowrap;">
	<div>
		We require you to verify your credit card security code during the identification proces to help safeguard you from unauthorized purchases.  We will not process transactions if the security value you enter does not match the security value assigned by your credit card company.  Enter the 3 or 4 digit code that appears on the front or back of your card.
	</div>
	<div>
		<img src="/web/public/resources/creditcard.gif" alt="" />
	</div>
</div>