<div ng-controller="airlineReviewMainPageController as airline" ng-cloak class="airline_MainClass">
    <div class="heading-wrapper main-wrapper">
        <div class="container inner-heading">
            <div class="page_heading">
                <div class="h-upper">
                    <div class="title tittle-h">
                        <i class="fa fa-plane"></i>accessibleGo
                        <strong>Airlines</strong>
                    </div>

                    <div class="h-form">
                        <form>
                            <div class="seach-iconn">
                                <input type="text" placeholder="Search airline companies">
                                <span>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                            <button ng-click="airline.goToReview()" ><i class="fa fa-pencil" aria-hidden="true"></i>Write a review</button>
                        </form>
                    </div>
                </div>

                <div class="flight-page-info">
                    <span>Looking for the best accessible airline company ? the printing and typesetting industry.We offer you an airline reviews area with all the information. Lorem Ipsum is simply dummy text of Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                </div>
            </div>
        </div>
    </div>

    <div class="middle-sec heading-wrapper">
        <div class="container inner-heading">
            <h4>Top 5 Airlines Ranking</h4>
            <ul class="airline-list">
                <li>
                    <div class="air-img">
                            <!-- <img class="header-img" ng-src="{{airline.image_virginAmerica}}" alt="" /> -->
                            <img class="header-img" ng-src="{{accountUi.image_virginAmerica}}" alt="" />
                    </div>
                    <p>1. Virgin America</p>
                </li>

                <li>
                    <div class="air-img">
                            <img class="header-img" ng-src="{{airline.image_jetBlue}}" >
                    </div>
                    <p>2. Jet Blue</p>
                </li>

                <li>
                    <div class="air-img">
                            <img class="header-img" ng-src="{{airline.delta}}" >
                    </div>
                    <p>3. Delta Airlines</p>
                </li>

                <li>
                    <div class="air-img">
                            <img class="header-img" ng-src="{{airline.image_hawaiianAirlines}}" >
                    </div>
                    <p>4. Hawaiian Airlines</p>
                </li>

                <li>
                    <div class="air-img">
                            <img class="header-img" ng-src="{{airline.image_alaska}}" >
                    </div>
                    <p>5. Alaska Airlines</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="heading-wrapper main-sec-rv">
        <div class="container inner-heading">
            <div class="col-sm-3">
                <aside class="side-b rv-airsec">
                    <h4>Sort by</h4>
                    <form>
                        <div class="select-tab">
                            <select>
                                <option>Sort by A-Z</option>
                                <option>Sort by Z-A</option>
                            </select>
                        </div>

                        <div class="stars-inrv">
                            <h5>Accessiblity rating by users </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                    </span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                    </span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                    </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>
                                        <b>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                        <b>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </b>
                                    </span>
                                </label>
                            </div>
                        
                        </div>

                        <div class="membership-sec">
                            <h5>Accessiblity rating by users </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>Star Alliance </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>Skyteam </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>Oneworld </span>
                                </label>
                            </div>
                        </div>
                              <!--2-2-2018-->
                            <div class="manager-cont">
                              <h4>Airline Managers </h4>
                              <div class="Air-Manager">
                                <p>Respond to airline reviews. Register now and reply to member reviews.Departmental and company credentials will be verified.</p>
                                <p class="btn-register">
                                    <button class="reg-btn">Register</button>
                                </p>
                            </div>
                        </div>
                        <div class="Book-access-travel">
                                <h4>Book Accessible Travel</h4>
                                <div>
                                  <!-- <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                               -->
                               <bookbox type="flights" city="New York" />
                              </div>
                          </div>
                    </form>
                    
                </aside>
                </div>

                <div class="col-sm-6">
                    <div class="air-rv rv-airsec">
                        <h4>Airline companies</h4>

                        <div class="rv-in-main">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="rv-left">
                                        <div class="airline-logo">
                                            <img class="img-responsive" src="">
                                        </div>
                                        <h5>Alaska</h5>
                                        <div class="rvv-stars">
                                            <span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <div class="item-in">
                                                    <h3>"Pleasantly surprised"</h3>
                                                    <p>Rebecca F.</p>

                                                    <div class="carousel-caption">
                                                        <p>1 of 34 reviews</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="item">
                                                <div class="item-in">
                                                    <h3>"Pleasantly surprised"</h3>
                                                    <p>Rebecca F.</p>
                                                    <div class="carousel-caption">
                                                        <p>2 of 34 reviews</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="left arr" href="#myCarousel" data-slide="prev">
                                                <span class="fa fa-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right arr" href="#myCarousel" data-slide="next">
                                                <span class="fa fa-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>

                                        <p class="btn-p">
                                            <button class="rv-btn">View all</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="rv-in-main">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="rv-left">
                                        <div class="airline-logo">
                                            <img class="img-responsive" src="">
                                        </div>
                                        <h5>Delta</h5>
                                        <div class="rvv-stars">
                                            <span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div id="Delta" class="carousel slide" data-ride="carousel">

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <div class="item-in">
                                                    <h3>"Pleasantly surprised"</h3>
                                                    <p>Rebecca F.</p>

                                                    <div class="carousel-caption">
                                                        <p>1 of 34 reviews</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="item">
                                                <div class="item-in">
                                                    <h3>"Pleasantly surprised"</h3>
                                                    <p>Rebecca F.</p>
                                                    <div class="carousel-caption">
                                                        <p>2 of 34 reviews</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="left arr" href="#Delta" data-slide="prev">
                                                <span class="fa fa-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right arr" href="#Delta" data-slide="next">
                                                <span class="fa fa-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>

                                        <p class="btn-p">
                                            <button class="rv-btn">View all</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="rv-in-main">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="rv-left">
                                            <div class="airline-logo">
                                                <img class="img-responsive" src="">
                                            </div>
                                            <h5>Hawalian</h5>
                                            <div class="rvv-stars">
                                                <span>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div id="Hawalian" class="carousel slide" data-ride="carousel">
    
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner">
    
                                                <div class="item active">
                                                    <div class="item-in">
                                                        <h3>"Pleasantly surprised"</h3>
                                                        <p>Rebecca F.</p>
    
                                                        <div class="carousel-caption">
                                                            <p>1 of 34 reviews</p>
                                                        </div>
                                                    </div>
    
                                                </div>
    
                                                <div class="item">
                                                    <div class="item-in">
                                                        <h3>"Pleasantly surprised"</h3>
                                                        <p>Rebecca F.</p>
                                                        <div class="carousel-caption">
                                                            <p>2 of 34 reviews</p>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <!-- Left and right controls -->
                                                <a class="left arr" href="#Delta" data-slide="prev">
                                                    <span class="fa fa-chevron-left"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right arr" href="#Delta" data-slide="next">
                                                    <span class="fa fa-chevron-right"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
    
                                            <p class="btn-p">
                                                <button class="rv-btn">View all</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>


                        
                        
                            <!-- <div class="pagin">
                            <ul>
                                <li><a>Prev </a></li>
                                <li class="active"><a>1 </a></li>
                                <li><a>2 </a></li>
                                <li><a>3 </a></li>
                                <li><a>4 </a></li>
                                <li><a>Next </a></li>
                            </ul>
                        </div> -->
                         
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="rv-airsec">
                        <h4>Articles </h4>
                        <div class="left-sd">
                            <articlebox ng-repeat="box in airline.inspiration_boxes" articleid="{{box.Id}}" introimageid="{{box.IntroImage.Id}}"
                                title="{{box.Title}}" urlsafetitle="{{box.URLSafeTitle}}" expanded ="{{airline.expanded}}" text = "{{box.IntroText}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="flight-articles">
    <div class="container inner-heading">
      <div class="col-sm-12">
        <h4>Flights articles</h4>
        <!-- <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>  -->
        <div class="" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                <articlebox style="margin-right: 1em;" ng-repeat="box_bottom in airline.inspiration_boxes_bottom" articleid="{{box_bottom.Id}}" introimageid="{{box_bottom.IntroImage.Id}}"
                    title="{{box_bottom.Title}}" expanded ="{{airline.expanded}}" text = "{{box_bottom.IntroText}}"/>
            </div>

      </div>
     </div>
     <div class="text-center">
            <button class="load-btn">Load more articles</button>
            </div>
</div>

</div>
