<div
	class="container text-center"
	style="padding-top:50px;padding-bottom:50px;"
	ng-controller="unsubscribeController as vm">

    <div class="center-block text-center">
        <div class="panel" style="background-color:#299b7c;">
            <h2 class="panel-heading" style="padding: 0;color:#fff;">You're Unsubscribed!</h2>
            <h3 class="panel-body">
                <span class="light12" style="color:#fff;">You will no longer receive email communications from us except transactional emails (e.g. bookings).</span>
                <span class="light12" style="color:#fff;">If you unsubscribed by mistake, adjust your preferences below.</span>
            </h3>
        </div>
        <p style="font-size: 1.5em;">We love <strong>you</strong>, not your inbox.</p>
        <p style="font-size: 1.5em;">Would you like to keep in touch some way?</p>
    </div>

	<div
		class="container text-center"
		style="margin:20px 0;">
		<div class="_form_25"></div><script src="https://accessiblego.activehosted.com/f/embed.php?id=25"; type="text/javascript" charset="utf-8"></script>
	</div>

</div>