<div
	class="container text-center"
	style="padding-top:50px;padding-bottom:50px;"
	ng-controller="signoutController as signout">

    <div class="center-block text-center">
        <div class="card">
            <h2 class="card card-header">{{signout.message}}</h2>
            <h3 class="card-body">
                Thanks for visiting!
            </h3>
        </div>
    </div>

	<div
		class="container text-center"
		style="margin:20px 0;">
	</div>

    <div id="about-articleCarousel">
		<article-carousel />
	</div>
</div>