<div ng-controller="categoriesController as vm" ng-cloak>

	<!-- unrecoverable errors? -->
	<div
		ng-show="vm.state==='unrecoverable'"
		ng-include="'userOverridingMessage.html'">
	</div>

	<!-- breadcrumbs -->
	<div
		ng-show="vm.state==='ready'"
		class="background-dark" style="padding:20px 12px;">
	    <nav class="flex-col" aria-label="breadcrumb" style="border-bottom:1px solid #fff;">
	      <ol class="breadcrumb breadcrumbs-dark">
	        <li class="breadcrumb-item"><a ui-sref="home">home</a></li>
	        <li class="breadcrumb-item active" aria-current="page">travel forum</li>
	      </ol>
	    </nav>

		<div
			class="flex-col"
			style="xpadding-top:40px;color:#fff;">
			<h1 class="px30">accessibleGO <span style="font-weight:bold;">Travel Forum</span></h1>
			<h2 class="px30" style="font-weight:bold;">Welcome to the accessibleGO travel forum!</h2>
		</div>

		<div
			class="flex-row"
			style="justify-content:space-between; color:#fff;margin-top:1em;">
			<div style="display: flex;flex-direction: row;flex-basis:34%;flex-shrink:2;flex-grow:1;min-width:10em;">
				<div class="px22" style="margin-right:1em;">
					<i class="fa fa-check-circle" style="color: #29807c;" aria-hidden="true"></i>
				</div>
				<div class="px22" style="">
					Ask questions, get answers about accessible travel
				</div>
			</div>

			<div style="display: flex;flex-direction: row;flex-basis:33%;flex-grow:1;min-width:10em;">
				<div class="px22" style="margin-right:1em;">
					<i class="fa fa-check-circle" style="color: #29807c;" aria-hidden="true"></i>
				</div>
				<div class="px22">
					<span>Update your profile</span>
				</div>
			</div>

			<div style="display: flex;flex-direction: row;flex-basis:33%;flex-grow:1;min-width:10em;">
				<div class="px22" style="margin-right:1em;">
					<i class="fa fa-check-circle" style="color: #29807c;" aria-hidden="true"></i>
				</div>
				<div class="px22" style="">
					<span>Update favorited topics</span>
				</div>
			</div>
		</div>

	</div>

	<!-- pending status -->
	<div
		ng-show="vm.state==='pending'"
		class="flex-col"
		style="justify-content: center;align-items:center;">
		<h4 ng-bind-html="vm.constants.maintenance" />
		<h3>Loading Travel Forum Categories...</h3>
		<div class="fa-5x">
			<i class="fa fa-spinner fa-pulse"></i>
		</div>
	</div>

	<!-- search -->	 
	<div
ng-show="inDevelopment"
xng-show="vm.state==='ready'"
		xclass="background-white"
		style="padding:20px 12px;">
		<div class="flex-row" style="padding:1.25em 0;color:#000;">
			<label class="px18" style="">Search forums for:</label>
			<input
				type="text"
				style="max-width:18em;margin-left:1em;"
				xclass="px18" />
			<button
				ng-click=""
				class="btn btn-default"
				style="background-color: #29807c; color:#fff;">
				GO
			</button>
		</div>
	</div>

	<!-- forum category options -->
	<div
		ng-show="vm.state==='ready'"
		class="background-light" style="padding:12px 20px;">
		<div class="flex-row" style="justify-content: space-between;flex-wrap: wrap; padding:1.25em 0;color:#000;">
			
			<!-- browse by themes -->
			<div style="display:flex;flex-direction:column;flex-basis:48%;flex-grow:0; padding:12px 16px;border:1px solid #0f0f0f;background-color:#fff;">
				<h3 class="px24 semibold24" style="color: #29807c;">Browse by Themes</h3>
				<br />
				<div
					ng-repeat="category in vm.themesObj.subCategories"
					ng-style="!$last?{'border-bottom':'1px solid #cfcfcf'}:{}">
					<a
						ui-sref="forum-topics({categorySlug: 'themes', subCategorySlug: category.slug})"
						class="px16"
						style="text-decoration: none;color:#000;">{{category.name}}</a>
				</div>
			</div>

			<!-- browse by geography -->
			<div style="display:flex;flex-direction:column;flex-basis:48%;flex-grow:0; padding:12px 16px;border:1px solid #0f0f0f;background-color:#fff;">
				<h3 class="px24 semibold24" style="color: #29807c;">Browse by Geography</h3>
				<br />
				<div
					ng-repeat="category in vm.geographyObj.categories"
					ng-style="!$last?{'border-bottom':'1px solid #cfcfcf'}:{}">
					<a
						ui-sref="forum-subcategories({categorySlug: category.slug})"
						class="px16"
						style="text-decoration: none;color:#000;">{{category.name}}</a>
				</div>
			</div>

		</div>
	</div>

<!--
!-- LEFT OFF HERE - BROWSER FORUMS --

{{vm.categories}}
-->
	<!-- mobile -->
	<div
		xng-show="vm.isCategoriesAvailable()"
		class="d-none d-xs-block d-sm-none flex-row background-dark" style="xpadding-top:40px;color:#fff;">
		<!-- <div class="wrapper-common wrapper-column">
			<div style="text-align: left;">
				<div id="planner-caption" style="border-right:0;">
					<img id="planner-icon" ng-src="{{planner.image_homePlannerCompass}}" aria-hidden="true" alt="" />
					<span style="display:flex-inline;">Accessible Trip Resources</span>
				</div>
			</div>
			<div style="text-align: left;margin-top:1em;">

			</div>
			<div style="text-align: left;margin-top:1em;flex-wrap: nowrap;width:100%;align-self: center;" id="planner-selectcity">
				<span id="planner-travelingto" style="padding: 0px;">I'm travelling to:</span>
				<ui-select ng-model="planner.selectedCity" theme="bootstrap" search-enabled="true" reset-search-input="true" on-select="planner.selectedCityChanged()">
					<ui-select-match id="planner-selectcity-match" placeholder="select a city..." allow-clear="false" aria-hidden="true">
						{{$select.selected.Name}}
					</ui-select-match>
					<ui-select-choices repeat="city in planner.cityoptions | filter: $select.search">
						<span ng-bind-html="city.Name | highlight: $select.search" xtabindex="21"></span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div style="text-align: left;margin-top:1em;padding: 1px;" id="planner-findText">and I'd like to find:</div>

			<div style="text-align: left;margin-bottom:1em;flex-wrap: nowrap;width:100%;align-self: center;" id="planner-selectcity">

				<ui-select ng-model="planner.selectedDirectory" theme="bootstrap" search-enabled="true" reset-search-input="true" on-select="planner.onChangeDirectoryType()">
					<ui-select-match placeholder="select a category..." allow-clear="false" aria-hidden="true">
						{{type}}
					</ui-select-match>
					<ui-select-choices repeat="type in planner.directoryTypes | filter: $select.search">
						<span ng-bind-html="type | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>

			</div>

		</div> -->
	</div>

	<!-- desktop -->
	<div
		xng-show="vm.isCategoriesAvailable()"
		class="d-none d-xs-block d-sm-none flex-row" style="background-color: #3b3f45;padding-top:40px;">
		<!-- <img id="planner-icon" ng-src="{{planner.image_homePlannerCompass}}" aria-hidden="true" alt="" />
		<div id="planner-caption">Accessible Trip Resources</div>
		<div id="planner-travelingto">I'm travelling to:</div>
		<div id="planner-selectcity">
			<ui-select ng-model="planner.selectedCity" theme="bootstrap" search-enabled="true" reset-search-input="true" on-select="planner.selectedCityChanged()">
				<ui-select-match id="planner-selectcity-match" placeholder="select a city..." allow-clear="false" aria-hidden="true">
					{{$select.selected.Name}}
				</ui-select-match>
				<ui-select-choices repeat="city in planner.cityoptions | filter: $select.search">
					<span ng-bind-html="city.Name | highlight: $select.search" xtabindex="21"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div id="planner-findText">and I'd like to find:</div> -->
	</div>

</div>
<!-- planner:end -->