<div xng-controller="categoriesController as vm" xng-cloak>

	<!-- breadcrumbs -->
	<div class="background-dark" style="padding:20px 12px;">
	    <nav class="flex-col" aria-label="breadcrumb" style="border-bottom:1px solid #fff;">
	      <ol class="breadcrumb breadcrumbs-dark">
	        <li class="breadcrumb-item"><a ui-sref="home">home</a></li>
	        <li class="breadcrumb-item active" aria-current="page">travel forum</li>
	      </ol>
	    </nav>

		<div
			class="flex-col" style="xpadding-top:40px;color:#fff;">
			<h1 class="px30">accessibleGO <span style="font-weight:bold;">Travel Forum</span></h1>
			<h2 class="px30" style="font-weight:bold;">Coming soon: The accessibleGO travel forum!</h2>
		</div>

		<div
			class="flex-row">
			<div class="_form_32"></div><script src="https://accessiblego.activehosted.com/f/embed.php?id=32" type="text/javascript" charset="utf-8"></script>
		</div>

	</div>
</div>