<div ng-controller="partnersController as partners" ng-cloak>

	<div class="wrapper-base" style="background-color:#fff;min-height: 4.5em;">

		<!-- white search bar: begin -->
		<div class="wrapper-common wrapper-common-width wrapper-row" style="justify-content: space-between;">

			<div>
				<span style="font-size:1.875em;color:#000;">
					<span style="font-weight:600;">Our Partners</span>
				</span>
			</div>
		</div>
		<!-- white search bar: end -->
	</div>

	<div class="wrapper-base" style="background-color:#cfcfcf;">

		<div class="wrapper-common wrapper-common-width wrapper-row" style="align-items: center;">

			<div id="myotonic" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="https://www.myotonic.org" target="_win_myotonic"><img src="https://accessiblego.azureedge.net/partners/Myotonic.jpg" style="width:220px;padding:20px;margin:0;" alt="myotonic.org" /></a>
	        </div>

			<div id="youCanFind" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="https://yoocanfind.com" target="_win_ycf"><img src="https://accessiblego.azureedge.net/partners/yoocan-logo.png" style="width:220px;padding:20px;margin:0;" alt="You Can Find" /></a>
	        </div>

			<div id="accessibleFamilyTravel" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="http://www.accessiblefamilytravel.com" target="_win_aft"><img src="https://accessiblego.azureedge.net/partners/AccessibleFamilyTravel.png" style="width:220px;padding:20px;margin:0;" alt="Accessible Family Travel" /></a>
	        </div>

	        <div id="accessiblePlanet" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="http://www.theaccessibleplanet.com" target="_win_apl"><img src="https://accessiblego.azureedge.net/partners/AccessiblePlanet.png" style="width:220px;padding:20px;margin:0;" alt="Accessible Planet" /></a>
	        </div>

	        <div id="travelForAll" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="http://travel-for-all.ca" target="_win_tfa"><img src="https://accessiblego.azureedge.net/partners/TravelForAll.jpg" style="width:220px;padding:20px;margin:0;" alt="Travel For All" /></a>
	        </div>

	        <div id="travelForAll" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="http://www.jasonsconnection.org" target="_win_jco"><img src="https://accessiblego.azureedge.net/partners/JasonsConnection.jpg" style="width:220px;padding:20px;margin:0;" alt="Travel For All" /></a>
	        </div>

			<div id="ableThrive" style="color:#000;background-color: #fff;margin:8px;height:220px;" style="align-items: center;">
	        	<a href="http://www.ablethrive.com" target="_win_ath"><img src="https://accessiblego.azureedge.net/partners/AbleThrive.png" style="width:220px;padding:20px;margin:0;" alt="Able Thrive" /></a>
	        </div>

	        <div id="wheelchairworld" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="http://wheelchairworld.org" target="_win_wcw"><img src="https://accessiblego.azureedge.net/partners/WheelChairWorld.png" style="width:220px;padding:20px;margin:0;" alt="Wheelchair World" /></a>
	        </div>

	        <div id="scootaround" style="color:#000;background-color: #fff;margin:8px;height:220px;">
	        	<a href="https://www.scootaround.com" target="_win_sar"><img src="https://accessiblego.azureedge.net/partners/ScootAround.jpg" style="width:220px;padding:20px;margin:0;" alt="Scoot Around" /></a>
	        </div>

       		<a id="anchor_reelabilities" style="color:#fff;background-color: #000;margin:8px;height:220px;" href="http://reelabilities.org" target="_win_reel"><img src="https://accessiblego.azureedge.net/partners/ReelAbilities.png" style="width:220px;padding:20px;margin:0;" alt="reelabilities.org" /></a>

       		<div id="ableThrive" style="color:#000;background-color: #fff;margin:8px;height:220px;" style="align-items: center;">
       			<a id="anchor_bedphramelift" style="color:#000;background-color: #fff;margin:8px;height:220px;" href="https://www.bedphramelift.com" target="_win_bfl"><img src="https://accessiblego.azureedge.net/partners/BedPhrameLift.png" style="width:204px;padding:20px;margin:0;" alt="Bed Phrame Lift" /></a>
       		</div>
       		<div id="ableThrive" style="color:#000;background-color: #fff;margin:8px;height:220px;" style="align-items: center;">
       			<a id="bedphramelift" style="color:#000;background-color: #fff;margin:8px;height:220px;" href="http://www.wheelchairtraveling.com" target="_win_wct"><img src="https://accessiblego.azureedge.net/partners/WheelChairTraveling.jpg" style="width:204px;padding:20px;margin:0;" alt="WheelChairTraveling" /></a>
       		</div>
       		<div id="ableThrive" style="color:#000;background-color: #fff;margin:8px;height:220px;" style="align-items: center;">
       			<a id="bedphramelift" style="color:#000;background-color: #fff;margin:8px;height:220px;" href="https://www.jessikakattah.com" target="_win_wct"><img src="https://accessiblego.azureedge.net/partners/JessikaKattah.png" style="width:204px;padding:20px;margin:0;" alt="JessikaKattah" /></a>
       		</div>
       		<div id="planetabled" style="color:#000;background-color: #fff;margin:8px;height:220px;" style="align-items: center;">
       			<a id="planetabledLink" style="color:#000;background-color: #fff;margin:8px;height:220px;" href="https://www.planetabled.com" target="_win_planetabled"><img src="https://accessiblego.azureedge.net/partners/planetabled/planetabled_logo.jpg" style="width:204px;padding:20px;margin:0;" alt="planetabled" /></a>
       		</div>
       	</div>

	</div>

</div>