<div ng-controller="travelIdeasController as vm" ng-cloak>

	<travel-idea-search-bar></travel-idea-search-bar>

	<breadcrumbs crumbs="vm.breadcrumbs"></breadcrumbs>

	<div class="container-fluid">
		<div class="section background-light-gray">
			<div class="row">
				<div class="container">
					<div class="row heading">
						<h2 style="font-size:2.25em;">Accessible Travel Inspiration & Tips</h2>
						<p style="color:#666;">Find travel ideas, tips, personal stories and more.</p>
						<div class="green-line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" >
		<div class="container">

				<div style="display:flex;flex-direction: row;flex-wrap:wrap-reverse;justify-content: space-between;">

					<div class="blogFlexing">
						<div class="content-header">
							<div class="content-header-title">Community Blog</div>
							<div class="content-header-description">Travel content written by our community members.<br/>
							<a href="mailto:contact@accessibleGO.com" style="text-decoration: underline;font-size:.75em;">Become a contributor</a></div>
							
						</div>
						<br />

						<!-- blog data :: pending -->
						<one-moment-please is-page-ready="vm.blogs.length>0" show-text="false"></one-moment-please>

						<!-- blog data :: available -->
	                    <div
	                    	ng-show="vm.blogs.length>0"
                    		class="clearfix"
                    		style="box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.45);margin-bottom:16px;"
                    		ng-repeat="blogData in vm.blogs">
	                        <div style="display:flex;flex-direction: row;">
	                            <div xclass="col-sm-5">
	                                <div class="blog-image-holder" ng-if="blogData.post_thumbnail.URL">
	                                    <a ui-sref="blogDetail({slug: blogData.slug})">
	                                    	<img
	                                    		ng-if="blogData.post_thumbnail.URL !== ''"
												lazy-load="'{{blogData.post_thumbnail.URL}}'"
												class="lazy-load"
												style="height: 142px;width:147px;"
												src=""
												alt=""
												aria-hidden="true" />
	                                    </a>
	                                </div>
	                            </div>
	                            <div xclass="col-sm-7" style="padding:8px;">
	                                <div xclass="blog-content">
	                                    <div xclass="blog-inner">
	                                        <a class="post-title" style="font-size: 1.25em;font-weight: 600;font-style: normal;font-stretch: normal;line-height: 1.2;letter-spacing: normal;text-align: left;color: #464646;" ui-sref="blogDetail({slug: blogData.slug})" ng-bind-html="blogData.title"></a>
	                                        <div class="mt-1 mb-2">
	                                            <span
	                                            	xclass="author"
	                                            	style="font-size:.875em;color:#45c3bd;line-height: 1.29px;letter-spacing: .7px;" >{{ blogData.author.name }} </span>
	                                            <!-- <span xclass="author" style="font-size: .875em;line-height: 1.71;letter-spacing: 0.7px;">{{ blog.getDate(blogData.date) }}</span> -->
	                                        </div>

	                                        <!-- <social-icon
	                                        	url="{{'https://accessiblego.com/blogDetail/'+vm.blogData.slug}}"
	                                        	slug="{{blogData.slug}}"
	                                        	title="{{blogData.title}}">
	                                        </social-icon> -->
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>

					</div>

					<div class="articleFlexing">
						<div class="content-header">
							<div class="content-header-title">accessibleGO Articles</div>
							<div class="content-header-description">Travel ideas from the accessibleGO team.</div>
							<br />
						</div>
						<br/>
						<div xclass="container articles-container">

							<!-- section :: accessible travel inspiration -->
							<travel-inspiration-articles
								title=""
								subtitle=""
								showHeader="false"
								content="noncity">
							</travel-inspiration-articles>


							<!-- 							<hr />

				 			<div class="xtravel-inspiration" style="    display: flex;    flex-wrap: wrap;    justify-content: space-between;">

								<div class="xarticle" style="flex-basis: 18em;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.45);margin-top:22px;">

									<div class="article-wrapper" style="height:34em;">

										<a ui-sref="articles({title:'5_Top_Tips_for_Mobility_Scooter_Travel'})" style="color:#000;">

											<div class="img-wrapper">
												<img
													lazy-load="'{{vm.env.cdn_static}}/i/articles/article1.jpg'"
													class="lazy-load"
													style="width: 350px;xheight: 203px;"
													src=""
													alt="5 top tips for mobility scooter travel"
													aria-hidden="true" />
											</div>

											<div class="xtext" style="padding:16px;">
												<h3 class="text-bold" style="font-size: 1.25em;">5 Top Tips for Mobility Scooter Travel</h3>
												<span class="writter-name text-blue text-bold" style="font-size: 1.5em;">Claire Szabo-Cassella</span>
												<p style="color:#000;">Whether you’re going across town or around the globe, here are 5 top tips for traveling with your mobility scooter.</p>
											</div>

										</a>

									</div>

								</div>

								<div class="xarticle" style="flex-basis: 18em;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.45);margin-top:22px;">

									<div class="article-wrapper" style="height:34em;">

										<a ui-sref="articles({title:'Top_10_Accessible_Attractions_in_Atlanta'})" style="color:#000;">

											<div class="img-wrapper">
												<img
													lazy-load="'{{vm.env.cdn_static}}/i/articles/article2.jpg'"
													class="lazy-load"
													style="width: 350px;xheight: 203px;"
													src=""
													alt="Top 10 accessible attractions in Atlanta"
													aria-hidden="true" />
											</div>

											<div class="xtext" style="padding:16px;">
												<h3 class="text-bold" style="font-size: 1.25em;">Top 10 Accessible Attractions in Atlanta</h3>
												<span class="writter-name text-blue text-bold" style="font-size: 1.5em;">Danielle Max</span>
												<p style="color:#000;">As the birthplace of the Civil Rights movement, home of the “Real Thing” and with a wheelchair-accessible transportation system, Atlanta is a great place to visit. Many of the main attractions are located close to each other, so you can easily shuttle between them.</p>
											</div>

										</a>

									</div>

								</div>

								<div class="xarticle" style="flex-basis: 18em;box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.45);margin-top:22px;">

									<div class="article-wrapper" style="height:34em;">

										<a ui-sref="articles({title:'Museum_Use_Touch_to_Engage_All_Visitors_'})" style="color:#000;">

											<div class="img-wrapper">

												<img
													lazy-load="'{{vm.env.cdn_static}}/i/articles/article3b.jpg'"
													class="lazy-load"
													style="width: 350px;xheight: 203px;"
													src=""
													alt="Museum Uses Touch to Engage All Visitors"
													aria-hidden="true" />
											</div>

											<div class="xtext" style="padding:16px;">
												<h3 class="text-bold" style="font-size: 1.25em;">Museum Uses Touch to Engage All Visitors</h3>
												<span class="writter-name text-blue text-bold" style="font-size: 1.5em;">Sara Toth Stub</span>
												<p style="color:#000;">For those who are blind, the shape and texture of a 3,000 year-old statue of a pharaoh at the University of Pennsylvania Museum of Archaeology and Anthropology in Philadelphia provides a gateway to experience the world of ancient Egypt.</p>
											</div>

										</a>

									</div>

								</div>

							</div>

							<div class="slick-navigation text-center">

								<div class="travel-inspiration-nav slick-navigation-wrapper"></div>

							</div> -->

						</div>
					</div>

				</div>

		</div>
	</div>


	<!-- booking search bar -->
	<div class="container-fluid">
		<div style="padding-top: 100px;">
			<search-bar></search-bar>
		</div>
	</div>

</div>

