<div ng-controller="sitemapController as access" ng-cloak>

	<div class="flex-col">

		<h1>accessibleGO Sitemap</h1>

		<nav aria-labelledby="toc-heading" id="toc" style="background-color: #f0fff5; padding:.5em;border:1px solid #3b3f45;">
			<header id="toc-heading"><span class="light12">Page Contents</span></header>
			<div>
				<ul id="markdown-toc">
					<li><a href="#toc-book" id="toc-book">Book</a></li>
					<li><a href="#toc-content" id="toc-content">Content</a></li>
					<li><a href="#toc-review" id="toc-review">Review</a></li>
					<li><a href="#toc-resources" id="toc-resources">Resources</a></li>
					<li><a href="#toc-whoweare" id="toc-whoweare">About Us</a></li>
					<li><a href="#toc-contact" id="toc-contact">Contact</a></li>
					<li><a href="#toc-policies" id="toc-policies">Policies</a></li>
				</ul>
			</div>
		</nav>

		<section>

			<h2 id="toc-book">Book</h2>
			<h3>
				<ul>
					<li><a ui-sref='hotels'>Hotels</a></li>
					<li><a ui-sref='flights'>Flights</a></li>
					<li><a ui-sref='cars'>Rental Cars</a></li>
				</ul>
			</h3>

			<h2 id="toc-content">Content</h2>
			<h3>
				<ul>
					<li><a ui-sref='searchResult'>Search</a></li>
					<li><a ui-sref='articles'>Articles</a></li>
					<li><a ui-sref='blog'>Blog</a></li>
					<li><a ui-sref='cruises'>Cruises</a></li>
				</ul>
			</h3>

			<h2 id="toc-review">Review</h2>
			<h3>
				<ul>
					<li><a ui-sref='review'>Hotels</a></li>
					<li><a ui-sref='review'>Flights</a></li>
					<li><a ui-sref='review'>Rental Cars</a></li>
				</ul>
			</h3>

			<h2 id="toc-resources">Resources</h2>
			<h3>
				<ul>
					<li><a ui-sref='tripPlanner'>Trip Resources</a></li>
					<li><a ui-sref='cruises'>Cruises</a></li>
					<li><a ui-sref="ideas">Travel Ideas</a></li>
				</ul>
			</h3>

			<h2 id="toc-whoweare">About Us</h2>
			<h3>
				<ul>
					<li><a ui-sref='about'>About</a></li>
					<li><a ui-sref='team'>Team</a></li>
		        	<li><a ui-sref="partners">Partners</a></li>
		        	<li><a ui-sref="press">Press</a></li>

				</ul>
			</h3>

			<h2 id="toc-contact">Contact</h2>
			<h3>
				<ul>
					<li><a ui-sref='contact'>Contact Us</a></li>
					<li><a ui-sref='reservations'>Reservations</a></li>
				</ul>
			</h3>

			<h2 id="toc-policies">Policies</h2>
			<h3>
				<ul>
					<li><a ui-sref='terms_of_use'>Terms of Use</a></li>
					<li><a ui-sref='privacy_policy'>Privacy Policy</a></li>
	        		<li><a ui-sref="accessibility">Accessibility</a></li>
				</ul>
			</h3>
		</section>

	</div>
</div>
