<div class="wrapper-common wrapper-column" style="justify-content: space-between;flex-wrap:nowrap;">
	<div>
		<div style="align-self:center;font-size:2em;font-weight: 600;margin-bottom:.5em;">One moment while we book your hotel</div>
	</div>
	<div style="align-self:center;">
		<i class="fa fa-spinner fa-spin" aria-hidden="true" style="font-size:6em;color:#299b7c;"></i>
	</div>
	<br />
	<div class="light16" style="align-self:center;">
		<p>Don't close your browser. Closing your browser will not stop this transaction</p>
	</div>
</div>