<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<label id="labbel-popupDatePicker_{{vm.id}}" for="popupDatePicker_{{vm.id}}" class="light16">{{vm.label}}</label>
<div class="date-picker-wrapper">
    <button
      type="button"
      role="button"
      tabindex="0"
      id="button_popupDatePicker_{{vm.id}}"
      class="btn popupDatePickerTrigger"
      data-ng-click="open();"
      aria-label="Choose a {{vm.label}} Date"
      data-ng-class="{'cal-out' : toggle}">
    </button>
   <input
      id="popupDatePicker_{{vm.id}}"
      type="text"
      name="popupDatePicker_{{vm.id}}"
      data-ng-readonly="true"
      data-ng-model="vm.value"
      data-ng-click="open();"
      class="datePickerInput"
      uib-datepicker-popup="{{format}}"
      is-open="popup.opened"
      datepicker-options="dateOptions"
      data-ng-required="true"
      data-ng-change="vm.selectedValueChange()"
      close-text="Close"
      alt-input-formats="altInputFormats"
      placeholder="{{vm.placeholder}}"
      datepicker-template-url="uib/template/datepicker/datepicker.html"
      datepicker-popup-template-url="uib/template/datepickerPopup/popup.html"
      on-open-focus="true" />

    <!-- <button class="btn clear"></button> -->


</div>



<!-- <div id="application" role="application">
   <label id="date_label" for="inputId">Date</label>:
   <input id="inputId" ng-model="vm.value" type="text"></input>
   <button id="btnId"><i class="fa fa-calendar" aria-hidden="true"></i></button> 
   <div id="dpId" class="datepicker" aria-hidden="true">
      <div id="month-wrap">
         <div id="bn_prev" role="button" aria-labelledby="bn_prev-label" tabindex="0"><img class="bn_img" src="http://www.oaa-accessibility.org/media/examples/images/prev.png" alt="<<"/></div>
         <div id="month" role="heading" aria-live="assertive" aria-atomic="true">February 2011</div>
         <div id="bn_next" role="button" aria-labelledby="bn_next-label" tabindex="0"><img class="bn_img" src="http://www.oaa-accessibility.org/media/examples/images/next.png" alt=">>"/></div>
      </div>
      <table id="cal" role="grid" aria-activedescendant="errMsg" aria-labelledby="month" tabindex="0">
         <thead>
            <tr id="weekdays">
               <th id="Sunday"><abbr title="Sunday">Su</abbr></th>
               <th id="Monday"><abbr title="Monday">Mo</abbr></th>
               <th id="Tuesday"><abbr title="Tuesday">Tu</abbr></th>
               <th id="Wednesday"><abbr title="Wednesday">We</abbr></th>
               <th id="Thursday"><abbr title="Thursday">Th</abbr></th>
               <th id="Friday"><abbr title="Friday">Fr</abbr></th>
               <th id="Saturday"><abbr title="Saturday">Sa</abbr></th>
            </tr>
         </thead>
         <tbody>
            <tr><td id="errMsg" colspan="7">Javascript must be enabled</td></tr>
         </tbody>
      </table>
      <div id="bn_prev-label" class="offscreen">Go to previous month</div>
      <div id="bn_next-label" class="offscreen">Go to next month</div>
   </div>
</div> -->