<div class="sectionHeader fitText" style="font-size: 40px;text-align: center;">
  <p style="color: rgb(0, 80, 159); font-size: 38px;font-weight: bold;">PLEASE NOTE</p>
</div>

<div class="accordion" id="reserveHotelFaq">

  <!-- adjusting your reservation -->
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span style="color: rgba(2,80,157,1);font-weight: bold;font-size: 1.25em;">Adjusting Your Reservation</span>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#reserveHotelFaq">
      <div class="card-body">
        <p style="font-size: 16px;">To make adjustments to your reservation after booking, please call Priceline at 1-(877) 477-7441.</p>
      </div>
    </div>
  </div>

  <!-- accessible rooms -->
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span style="color: rgba(2,80,157,1);font-weight: bold;font-size: 1.25em;">Accessible Rooms</span>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#reserveHotelFaq">
      <div class="card-body">
        <p style="font-size: 16px;"><strong>You must call the hotel directly to request an Accessible Room.</strong> As part of our <a href="https://vision.accessiblego.com" target="_blank" style="color: #00509f;">Vision for accessible travel</a>, we hope to offer guaranteed accessible rooms in the future.  You help make this possible by booking through accessibleGO!</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span style="color: rgba(2,80,157,1);font-weight: bold;font-size: 1.25em;">Special Requests</span>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#reserveHotelFaq">
      <div class="card-body">
        <p style="font-size: 16px;">When you book at least 48 hours prior to your stay, <strong>we send a personal email to the hotel management </strong>with a list of your accessibility needs and special requests.</p><p style="font-size: 16px;">This is a free service for booking with accessibleGO.  However, we <strong>cannot guarantee</strong> that the hotel will fulfill your requests.</p>
      </div>
    </div>
  </div>
</div>
